<div class="modal">
  {{!-- <div class="close">&times;</div> --}}
  <div class="content">
    Looks like you've requested some data that's already in your collection. Would you like to overwrite the old data, skip the duplicates, or cancel altogether?
  </div>
  <div class="buttons">
    <div class="btn">Overwrite</div>
    <div class="btn">Skip</div>
    <div class="btn">Cancel</div>
  </div>
</div>