<div class="search-products">
  <div>
    <input type="text" placeholder="Search products">
  </div>
  <div class="product-amount">4 of 4 products</div>
  <div></div>
</div>
<header>
  <div class="col1 header">
    Product
    <div class="toggle"></div>
  </div>

  <div class="col2">Brand Name</div>
  <div class="col3">Category</div>
  <div class="col4">Price</div>
  <div class="col5">MSRP</div>
  <div class="col6">Reviews</div>
</header>
{{!-- <div class="test"> --}}
  <div class="individual-products"></div>
{{!-- </div> --}}