<div class="col1">
  <img src="{{thumbnailImage}}" alt="" class="thumb">
  <div class="description">Here's a description of the product right here, it is.</div>
  <div class="view-more">
    <img src="./images/open.png" alt="">
  </div>
</div>

<div class="col2">
  <div class="brand-name">{{brandName}}</div>
</div>

<div class="col3">
  <div class="category">Some Cool Category</div>
</div>

<div class="col4">
  <div class="price">4.99</div>
</div>

<div class="col5">
  <div class="msrp">6.99</div>
</div>

<div class="col6">
  <img src="{{customerRatingImage}}" alt="" class="stars">
  <div class="count">(36)</div>
  <div class="close">&times;</div>
</div>