<div class="search-products">
  <div class="search-container">
    <div class="clear-search">&times;</div>
    <input type="text" placeholder="Search products">
  </div>
  <div class="product-amount"></div>
  <div class="right">
    <span class="remove-all-products btn">Remove All Products</span>
  </div>
</div>
<header>
  <div class="col1 header">
    Product
    <div class="toggle"></div>
  </div>

  <div class="col2">Brand Name</div>
  <div class="col3">Category</div>
  <div class="col4">Price</div>
  <div class="col5">MSRP</div>
  <div class="col6">Reviews</div>
</header>
<div class="individual-products"></div>