<form action="" id="searchForm">
  <input type="text" name="query" placeholder="Query (required)" id="query" class="form-input">

  <div class="advanced-search">
    <input type="text" name="brand-name" placeholder="Brand Name" id="brand-name" class="form-input">
    <input type="number" name="numItems" placeholder="Results" id="results" class="form-input">
    <input type="number" name="start" placeholder="Start at" id="start-at" class="form-input">
    <div id="sorted-by">Sorted By</div>
    <div class="drop-down">
      <select name="sort" class="form-input">
        <option value="relevance">Relevance</option>
        <option value="price">Price</option>
        <option value="title">Title</option>
        <option value="bestseller">Best Seller</option>
        <option value="customerRating">Customer Rating</option>
        <option value="new">New</option>
      </select>
    </div>
  </div>
  <div class="search-title hidden"></div>

  <div class="add-products btn">Add Products</div>
</form>
<div class="no-results">NO RESULTS</div>