.product {
  .flex;
  width: 100%;
  font-size: 14px;
  padding: 12px 0;
  border-bottom: 4px solid lightgray;
  position: relative;
  top: -20px;
  opacity: 0;
  transition: top .7s, opacity .7s;

  &.show {
    top: 0;
    opacity: 1;
  }

  &.hidden {
    display: none;
  }

  .col1 {
    .flex;
    padding: 0 20px;
  }

  .col2 {
    padding-right: 10px;

    .brand-name {
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid lightgray;
    }
  }

  .col6 {
    .flex;
  }
}

.none {
  color: lightgray;
  font-style: italic;
}

.thumb {
  max-width: 60px;
  max-height: 60px;
  padding-right: 10px;
}

.view-more {
  .clickable;
  border: 1px solid lightgray;
  padding: 5px 3px 5px 6px;
  border-radius: 3px;
  margin-left: auto;
}


.category {
  padding-right: 15px;
}

.close {
  .clickable;
  font-weight: bold;
  font-size: 1.2em;
  color: red;
  margin: auto 10px auto auto;
  padding: 0 5px;
}